body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 10em;
}

#message-el {
    font-style: italic;
    font-size: 3em;
}

button {
    display: block;
    margin: 2px auto;
    font-size: 1.5em;
    color: #016f32;
    width: 25%;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

.para {
    font-size: 2em;

}